<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="container">
      <ul>
      	<li>Welcome: <%= user.user[0][0].email %></li>
      </ul>

      <form class="form-signin" action='/friend' method="POST">
          <h2 class="form-signin-heading">Add a Friend</h2>
          <label for="email" class="sr-only">Email Address</label>
          <input type="email" id="friend" name="friend" class="form-control" placeholder="Email Address" required autofocus>
          
          <button class="btn btn-lg btn-success btn-block" type="submit">Friend</button>
      </form>
    </div>

  </body>
</html>
