<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="container">
      <ul>
      	<li>Welcome: <%= body.user[0][0].email %></li>
        <li><a href="/logout" name="logout">Logout</a>
        <li><a href="/user/search">Search for Friends</a>
        <li><a href="/tag/search">Search Tags</a>
        <li><a href="/user/friends" name='friends'>View Friends</a></li>
        <li><a href="/user/top" name="top">Top Users</a></li>
        <li><a href="/album">Album</a></li>
        <li><a href="/user/recommendations">Recommendations</a></li>
      </ul>

  </body>
</html>
