<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="container">
    	<div class="form-signin">
      		<h2>Login</h2>
      		<a class="btn btn-lg btn-primary btn-block" href="/login">Login</a>
      		<br>
      		<h2>Register</h2>
      		<a class="btn btn-lg btn-success btn-block" href="/register">Register</a>
      	</div>
    </div>
  </body>
</html>
