<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
    <div class ="container">
    	<form class="form-signin" method="POST">
        	<h2 class="form-signin-heading">Sign in</h2>
        	<label for="email" class="sr-only">Email address</label>
        	<input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
        	<br>
        	<label for="password" class="sr-only">Password</label>
        	<input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      	</form>

      	<a href="">Register</a>
    </div>
  </body>
</html>
